:root {
    --primary: #000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    font-size: 1.6rem;
    font-family: 'Montserrat', sans-serif;
}

a,
a:hover {
    text-decoration: none
}

img {
    width: 100%;
}

input,
button {
    outline: none;
    border: none;
}

ul {
    margin: 0;
    list-style-type: none;
}